# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\新知识\python\django_py\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
